<!-- <ion-header>
  <ion-toolbar>
    <ion-title>friends-main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-tabs>
 
    <ion-tab-bar slot="bottom">
   
      <ion-tab-button tab="view">
        <ion-icon name="eye"></ion-icon>
        <ion-label>View</ion-label>
      </ion-tab-button>
   
      <ion-tab-button tab="manage">
        <ion-icon name="people"></ion-icon>
        <ion-label>Manage</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
   
  </ion-tabs>