<ion-header >
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-grid style="width: 75%;">
  <ion-card class="card">
    <ion-img src="/assets/logo.svg" style="height: 350px;" ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>An app for sharing your Gym Personal Records.</ion-card-subtitle>
      <ion-card-title>PR-Post</ion-card-title>
    </ion-card-header>
  </ion-card>

    <ion-row class="rowStyle" align-items-center>
      <ion-icon name="mail" color="primary"></ion-icon>
      <ion-input type="email" placeholder="your email" [(ngModel)]="email"></ion-input>
    </ion-row>
    <ion-row class="rowStyle" align-items-center>
      <ion-icon name="key" color="primary"></ion-icon>
      <ion-input type="password" placeholder="your password" [(ngModel)]="password"></ion-input>
    </ion-row>

    <ion-button expand="full" color="primary" (click)="login()">Login</ion-button>
    <ion-button expand="full" size="small" color="secondary" fill="clear" (click)="gotoSignup()">
      Don't have an account?
    </ion-button>

  </ion-grid>

</ion-content>
