.rowStyle {
    border: solid var(--ion-color-dark) 1px;
    //border-radius: 30px;
    margin-top: 15px;
}

.bottom-bar {
    background-color: var(--ion-color-light-shade);

    .border-right {
        border-right: 1px solid var(--ion-color-light);
    }
}

