<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row margin class="rowStyle">
    <ion-button color="danger" fill="clear" (click)="addPhoto()">
      <ion-icon name="images" ></ion-icon>
    </ion-button>

    <ion-input tpye="text" placeholder="Say something..." [(ngModel)]="text"></ion-input>

    <ion-button color="danger" fill="clear" (click)="post()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-row margin class="rowStyle" *ngIf="image">
    <ion-card>
      <img [src]="image"  />
    </ion-card>
  </ion-row>

  <ion-card *ngFor="let post of followingPosts | async">
      <ion-card-header >
        <ion-card-subtitle>{{ post.owner_name }} says:</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content text-wrap>
          {{ post.text }}
        <ion-row>
          <ion-col>
            <img [src]="post.image" *ngIf="post.image" /> 
          </ion-col>
        </ion-row>
    </ion-card-content>
    <ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button expand="full" icon-left clear size="small" color="light" class="border-right" (click)="like(post)">
            <ion-icon name="thumbs-up"></ion-icon>
            <small>12 likes</small>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" icon-left clear size="small" color="light" class="border-right">
            <ion-icon name="text"></ion-icon>
            <small>12 comments</small>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" icon-left clear size="small" color="light">
            <small>{{ ago(post.created.toDate()) }} ago</small>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>