<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row margin class="rowStyle">
        <ion-button color="dark" fill="clear" (click)="addPhoto()">
            <ion-icon name="images" ></ion-icon>
          </ion-button>
      
          <ion-input type="text" placeholder="Say something..." [(ngModel)]="text"></ion-input>
      
          <ion-button color="success" fill="clear" (click)="post()">
            <ion-icon name="send"></ion-icon>
          </ion-button>
      </ion-row>
    
      <ion-row margin class="rowStyle" *ngIf="image">
        <ion-card class="round-corners">
          <img [src]="image" class="round-corners">
        </ion-card>
      </ion-row>
    
      <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <!-- <ion-row margin>
          <ion-button (click)="randomText()">Random Text</ion-button>
      </ion-row> -->
    
      <ion-card *ngFor="let post of posts">
          <ion-card-header color="primary" >
            <ion-card-subtitle>{{ post.data().owner_name }} says:</ion-card-subtitle>
          </ion-card-header>
        <!-- <ion-item-divider color="danger">
          {{ post.data().owner_name }} Says
        </ion-item-divider> -->
    
        <ion-item lines="none" text-wrap>
          {{ post.data().text }}
        </ion-item>
    
        <img [src]="post.data().image" *ngIf="post.data().image">
    
        <!-- <ion-row class="bottom-bar">
          <ion-col>
            <button ion-button block icon-left clear small color="danger" class="border-right" (click)="like(post)">
              <ion-icon name="thumbs-up"></ion-icon>
              <small>{{ post.data().likesCount || 0 }} Likes</small>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block icon-left clear small color="danger" class="border-right" (click)="comment(post)">
              <ion-icon name="text"></ion-icon>
              <small>{{ post.data().commentsCount || 0 }} Comments</small>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button block icon-left clear small color="danger">
              <small>{{ ago(post.data().created.toDate()) }} ago</small>
            </button>
          </ion-col>
        </ion-row> -->

        <ion-row>
            <ion-col>
              <ion-button expand="full" icon-left clear size="small" color="light" class="border-right" (click)="like(post)">
                <ion-icon name="thumbs-up"></ion-icon>
                <small>{{ post.data().likesCount || 0 }} likes</small>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="full" icon-left clear size="small" color="light" class="border-right" (click)="comment(post)">
                <ion-icon name="text"></ion-icon>
                <small>{{ post.data().commentsCount || 0 }} comments</small>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="full" icon-left clear size="small" color="light">
                <small>{{ ago(post.data().created.toDate()) }} ago</small>
              </ion-button>
            </ion-col>
          </ion-row>
    
      </ion-card>
    
      <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
