<ion-header>
  <ion-toolbar color="dark">
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="width: 75%;">

    <ion-card class="card">
      <ion-img src="/assets/Beast_mode.svg" style="height: 350px;" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>An app for sharing your Gym Personal Records.</ion-card-subtitle>
        <ion-card-title>PR-Post</ion-card-title>
      </ion-card-header>
    </ion-card>
    
    <ion-row class="rowStyle" align-items-center>
      <ion-icon name="person" color="danger"></ion-icon>
      <ion-input type="text" placeholder="your name" [(ngModel)]="name"></ion-input>
    </ion-row>

    <ion-row class="rowStyle" align-items-center>
      <ion-icon name="mail" color="danger"></ion-icon>
      <ion-input type="email" placeholder="your email" [(ngModel)]="email"></ion-input>
    </ion-row>

    <ion-row class="rowStyle" align-items-center>
      <ion-icon name="key" color="danger"></ion-icon>
      <ion-input type="password" placeholder="your password" [(ngModel)]="password"></ion-input>
    </ion-row>

    <ion-row>
      <ion-button ion-button block round outline color="primary"
        style="margin-top: 20px;" (click)="signUp()">Sign Up</ion-button>
    </ion-row>

    <ion-row>
      <ion-button ion-button block clear color="secondary" (click)="goback()">
        Already have an account? Login Up
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
